.navbar {
  background-color: #628a2c;
}

.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #44601F;
}

.navbar .navbar-nav>li>a,
.navbar .navbar-brand {
    color: white;
}
